doctype html
html
    head
        meta(charset="utf-8")
        title Cathay Racers
        meta(name="description", content="An F1 In Schools collaboration team between Hong Kong and China, competing in the 2016 World Finals in Austin, Texas.")
        meta(property="og:title", content="Cathay Racers")
        meta(property="og:site_name", content="Cathay Racers")
        meta(property="og:url", content="http://sc-racers.co.nf/")
        meta(property="og:description", content="An F1 In Schools collaboration team between Hong Kong and China, competing in the 2016 World Finals in Austin, Texas.")
        meta(property="og:image", content="http://www.googledrive.com/host/0B_GNFzfKHBwPa1dEdTBHejVBcGM")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
        link(rel="stylesheet", href="style.css")
        link(href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700", rel="stylesheet", type="text/css")
    body
        header
            object.logo(type="image/svg+xml", data="/assets/img/logo/logo-text-white.svg")
        aside
            nav
                a(data-scroll, data-icon="people", href="#team") Who are we?
                a(data-scroll, data-icon="quilt", href="#news") News
                a(data-scroll, data-icon="info", href="#f1is") About F1 In Schools
                a(data-scroll, data-icon="work", href="#support-us") Support us
                a(data-scroll, data-icon="email", href="#contact") Contact us
        .banner-links-container
            a.banner-link(data-scroll="", href="#f1is") What is F1 In Schools?
            a.banner-link(data-scroll="", href="#support-us") Sponsorship

        section#team.no-bottom-padding
            h2 Who are we?
            p.
                We are Cathay Racers, an F1 In Schools national collaboration team between Hong Kong and China, competing in the 2016 World Finals in Austin, Texas.
            ul.members-container.nobullet
                li
                    .member-photo
                    h3.member-name Alex Harfitt
                    .member-role Team manager
                    p.member-bio.
                        As the team manager, I organise the team and ensure that all tasks are complete. The role of organising meetings, time plans, and ensuring that each member has a task to complete falls to me. I think I am well suited for the role of team manager due to my keen determination, self-confidence and organisation skills. Additionally, this role allows me to further practice and improve these skills.
                li
                    .member-photo
                    h3.member-name Yifei Shao
                    .member-role Visual identity director
                    p.member-bio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                li
                    .member-photo
                    h3.member-name Qiyang Hu
                    .member-role Design engineer
                    p.member-bio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                li
                    .member-photo
                    h3.member-name Kefan Zhou
                    .member-role Manufacturing engineer
                    p.member-bio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                li
                    .member-photo
                    h3.member-name Larry Poon
                    .member-role Marketing director
                    p.member-bio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                li
                    .member-photo
                    h3.member-name Eddy Park
                    .member-role Communications manager
                    p.member-bio.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            //- .initialism-container
            //-     div
            //-         .initialism-letter S
            //-         span is for
            //-         .initialism-word
            //-             div speed
            //-             div spirit
            //-             div science
            //-             div innovation
            //-             div style
            //-             div simplicity

        section#news.wide.no-bottom-padding
            h2 News
            ol.news-container
            .banner-links-container
                a.banner-link.twitter(href="https://twitter.com/Cathay_Racers", target="_blank") Follow us on Twitter
                a.banner-link.facebook(href="https://www.facebook.com/CathayRacers", target="_blank") Like us on Facebook

        section#f1is(data-bg="/assets/img/wf-2014-blurred.jpg")
            h2 F1 in Schools
            .flex-container
                img(src="/assets/img/f1-in-schools-white.png")
                div
                    p.
                        F1 in Schools is an international competition set out to provide an amazing but very challenging educational experience through the magnetic appeal of Formula One. The competition is the only global multi-disciplinary challenge for students aged 9-19 and is now recognised as the world's largest STEM (Science, Technology, Engineering and Mathematics) competition.
                    p.
                        Students work in teams of between 3 and 6, each taking on an assigned role that fulfils the necessary components of the competition.
                    p
                        | Learn more at the
                        a(href="http://www.f1inschools.com/", target="_blank") F1 in Schools website
                        | .

        section#support-us
            // h2 Our sponsors
            //p.
            //    We are proud to be working with these great companies and organizations and we are very grateful for their support.
            //.sponsors-container
            h2 Support us
            .flex-container
                div
                    p.
                        We are going to compete in the F1 in Schools 2016 World Finals in Austin, and we need to raise funds in order to compete and succeed.
                    p.
                        The competition will involve (among other things) acquiring resources and equipment that we need to achieve our goal.
                    p Some of the things that need to be funded:
                    ul
                        li car resources and materials
                        li team display
                        li uniform
                    p.
                        We would be very grateful if you would consider sponsoring us, six students from Hong Kong and China, and help us to succeed in our quest for success in F1 in Schools.
                div
                    a.button.big(href="/assets/docs/Cathay Racers sponsorship letter 2016.pdf", target="_blank") View sponsorship letter
                    a.button.big(href="/assets/docs/Cathay Racers sponsor proposal 2016.pdf", target="_blank") View sponsor proposal

        section#contact(data-bg="/assets/img/racetrack-blurred.jpg")
            h2 Contact us
            .flex-container
                div
                    p Please don't hesitate to email us about any questions or suggestions that you have.
                    p We would love to hear from you!
                form(method="get").contact_email-form
                    input(type="text", name="subject", placeholder="Subject")
                    textarea(name="body", placeholder="Message", required="")
                    button(title="This will open your default email client.") Send

        .banner-links-container
            a.banner-link.email.hasicon.contact_email {email}
            a.banner-link.whatsapp.hasicon.contact_whatsapp {phone}
            a.banner-link.twitter.hasicon(href="https://twitter.com/Cathay_Racers", target="_blank") @Cathay_Racers
            a.banner-link.facebook.hasicon(href="https://www.facebook.com/CathayRacers", target="_blank") fb.com/CathayRacers
        footer
            .footer-logo
            p This entire website hand-made by Cathay Racers themselves
            p
                a(href="https://www.google.com/fonts/specimen/Titillium+Web", target="_blank") Titillium Web font by Accademia di Belle Arti di Urbino
                | ,
                a(href="http://masonry.desandro.com", target="_blank") Masonry by desandro
                | ,
                a(href="https://github.com/twitter/twitter-text", target="_blank") Twitter Text Library by Twitter
                | ,
                a(href="https://github.com/cferdinandi/smooth-scroll", target="_blank") Smooth Scroll by cferdinandi
                | ,
                a(href="https://google.github.io/material-design-icons", target="_blank") Material Design icons by Google
                | .
            p
                | In the spirit of openness, the code is
                a(href="https://github.com/z-------------/cathay-racers-website/", target="_blank") all on GitHub
                | .
        script(src="/assets/js/twitter-text.min.js")
        script(src="/assets/js/masonry.pkgd.min.js")
        script(src="script.js")
        script(src="/assets/js/smooth-scroll.min.js", async="", onload="smoothScroll.init(smoothScrollOptions);")
