doctype html
html
    head
        meta(charset="utf-8")
        title Cathay Racers
        meta(name="description", content="An F1 In Schools collaboration team between Hong Kong and China, competing in the 2016 World Finals in Austin, Texas.")

        //- open graph stuff
        meta(property="og:title", content="Cathay Racers")
        meta(property="og:site_name", content="Cathay Racers")
        meta(property="og:url", content="http://cathayracers.co.nf/")
        meta(property="og:description", content="An F1 In Schools collaboration team between Hong Kong and China, competing in the 2016 World Finals in Austin, Texas.")
        meta(property="og:image", content="http://googledrive.com/host/0B_GNFzfKHBwPQ2o0eWFrUDN5cmc")

        //- favicon
        link(rel="icon" type="image/x-icon" href="/assets/img/logo/logo-favicon.png")

        //- viewport
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")

        //- stylesheet
        link(rel="stylesheet", href="style.css")

        //- fonts
        link(href="https://fonts.googleapis.com/css?family=Lato:300,400", rel="stylesheet", type="text/css")
        link(href="/assets/fonts/avenirnext/stylesheet.css", rel="stylesheet", type="text/css")
    body
        header
            object.logo(type="image/svg+xml", data="/assets/img/logo/logo-text-white.svg")
        aside
            object.nav-logo(type="image/svg+xml", data="/assets/img/logo/logo-icon-noshell-orangebg.svg")
            nav
                a(data-scroll, data-icon="people", href="#team")
                    span Who are we?
                a(data-scroll, data-icon="new", href="#news")
                    span News
                a(data-scroll, data-icon="info", href="#f1is")
                    span About F1 In Schools
                a(data-scroll, data-icon="business", href="#sponsors")
                    span Sponsors
                a(data-scroll, data-icon="work", href="#support-us")
                    span Support us
                a(data-scroll, data-icon="chat", href="#contact")
                    span Contact us
        .banner-links-container
            a.banner-link(data-scroll="", href="#f1is") What is F1 In Schools?
            a.banner-link(data-scroll="", href="#support-us") Sponsorship

        section#team.no-bottom-padding
            h2 Who are we?
            p.
                We are Cathay Racers, an F1 In Schools national collaboration team between Hong Kong and China, competing in the 2016 World Finals in Austin, Texas.
            p.
                We are from The Experimental High School Attached to Beijing Normal University and Sha Tin College, Hong Kong.
            ul.members-container.nobullet
                li
                    .member-photo
                    h3.member-name Alex Harfitt
                    .member-role Team Manager
                    p.member-bio.
                        As the Team Manager, I organise the team and ensure that all tasks are complete. The role of organising meetings, time plans, and ensuring that each member has a task to complete falls to me. Additionally, I am responsible for checking and authorising items produced by the team to ensure it is of the best quality. I think I am well suited for the role of team manager due to my keen determination, self-confidence, and organisational abilities. This role also gives me the opportunity to further practice and improve these valuable skills.
                li
                    .member-photo
                    h3.member-name Yifei Shao
                    .member-role Visual Identity Director
                    p.member-bio.
                        As the Visual Identity Director of the team, I am responsible for the team's visual identity including logos, pit displays, uniforms and so on. Also, I am the team manager of the Chinese side of the team so it is also my responsibility to make sure everything is in progress. I consider myself suited to these jobs because of my leadership skills and sense of responsibility inside me, as well as my talent in designing and  skills in manipulating software such as Photoshop, Adobe Illustrator, and InDesign.
                li
                    .member-photo
                    h3.member-name Qiyang Hu
                    .member-role Design Engineer
                    p.member-bio.
                        Being the Design Engineer, I am responsible for designing both the shape and its structure in order to remain the competence of our team. I need to pay attention to every detail of the design since every subtle difference can affect the whole aerodynamic configuration. Close cooperation with the engineer is also indispensable. In years past, the dream of speed has survived, so I hope that I can create a well-designed car for the F1 in Schools World Finals. I am confident about making the car with my team due to the effort I made in exploring aerodynamics.
                li
                    .member-photo
                    h3.member-name Kefan Zhou
                    .member-role Manufacturing Engineer
                    p.member-bio.
                        As the Manufacturing Engineer of the team, my job is to manufacture the car based on the 3D model which was created by our Aerodynamic Engineer. To make our car as fast as possible, I will try every possible way and carry out a series of experiments in order to reduce friction.
                li
                    .member-photo
                    h3.member-name Larry Poon
                    .member-role Marketing Director
                    p.member-bio.
                        As Marketing Director, it is my duty to focus on finding sponsorship opportunities for the team, contact these potential sponsors, set up meetings, and stay in contact with the sponsors to see the sponsorship go through to its fullest. I also share roles with the communications director in maintaining and updating the team social media accounts. I feel that I am best suited for this role because I am a fairly outgoing person who is not afraid to meet new people and face new challenges.
                li
                    .member-photo
                    h3.member-name Eddy Park
                    .member-role Communications Manager
                    p.member-bio.
                        As the Communications Manager, it is my responsibility to set up and maintain all communication channels between the team members, sponsors, and the general public. This includes activating and updating the team’s social media and website. I feel that I am suited for this job because I enjoy working with computers and software. I am also good at finding imaginative and efficient solutions regarding communication issues. I believe in my role because I feel that good communication is the key to success.
            //- .initialism-container
            //-     div
            //-         .initialism-letter S
            //-         span is for
            //-         .initialism-word
            //-             div speed
            //-             div spirit
            //-             div science
            //-             div innovation
            //-             div style
            //-             div simplicity

        section#news.wide.no-bottom-padding
            h2 News
            ol.news-container
            .banner-links-container
                a.banner-link.twitter(href="https://twitter.com/Cathay_Racers", target="_blank") Follow us on Twitter
                a.banner-link.facebook(href="https://www.facebook.com/CathayRacers", target="_blank") Like us on Facebook

        section#f1is(data-bg="/assets/img/backgrounds/wf-2014-blurred.jpg")
            h2 F1 in Schools
            .flex-container
                img(src="/assets/img/f1-in-schools/f1-in-schools-white.png")
                div
                    p.
                        F1 in Schools is an international competition set out to provide an amazing but very challenging educational experience through the magnetic appeal of Formula One. The competition is the only global multi-disciplinary challenge for students aged 9-19 and is now recognized as the world's largest STEM (Science, Technology, Engineering and Mathematics) competition.
                    p.
                        Students work in teams of between 3 and 6, each taking on an assigned role that fulfils the necessary components of the competition.
                    p.
                        Learn more at the #[a(href="http://www.f1inschools.com/", target="_blank") F1 in Schools website].

        section#sponsors
            h2 Sponsors
            p.
                We are very grateful to receive the support of these great organizations. Without them, we wouldn't be able to realize our dream of competing in the F1 in Schools 2016 World Finals in Austin, Texas.
            .flex-grid.medium
                a(href="http://www.chngc.net/", target="_blank")
                    .sponsor-logo
                        img(src="/assets/img/sponsors/China Gold Coin.svg")

                .sponsor-logo
                    img(src="/assets/img/sponsors/Kamtonn.svg")

                a(href="http://www.ks-dersun.com/", target="_blank")
                    .sponsor-logo
                        img(src="/assets/img/sponsors/Dersun.svg")

                .sponsor-logo
                    img(src="/assets/img/sponsors/IECC.svg")

        section#support-us
            h2 Support us
            .flex-container
                div
                    p.
                        We are going to compete in the F1 in Schools 2016 World Finals in Austin, Texas, and we need to raise funds in order to compete and succeed.
                    p.
                        The competition will involve (among other things) acquiring resources and equipment that we need to achieve our goal.
                    p Some of the things that need to be funded:
                    ul
                        li car resources and materials
                        li team display
                        li uniform
                    p.
                        We would be very grateful if you would consider sponsoring us, six students from Hong Kong and China, and help us to succeed in our quest for success in F1 in Schools.
                div
                    a.button.big(href="/assets/docs/Cathay Racers sponsorship letter 2016.pdf", target="_blank") View sponsorship letter
                    a.button.big(href="/assets/docs/Cathay Racers sponsor proposal 2016.pdf", target="_blank") View sponsor proposal

        section#contact(data-bg="/assets/img/backgrounds/racetrack-blurred.jpg")
            h2 Contact us
            .flex-container
                div
                    p Please don't hesitate to email us about any questions or suggestions that you have.
                    p We would love to hear from you!
                form(method="get").contact_email-form
                    input(type="text", name="subject", placeholder="Subject")
                    textarea(name="body", placeholder="Message", required="")
                    button(title="This will open your default email client.") Send

        .banner-links-container
            a.banner-link.smaller.email.hasicon.contact_email(target="_blank") {email}
            a.banner-link.whatsapp.hasicon.contact_whatsapp {phone}
            a.banner-link.twitter.hasicon(href="https://twitter.com/Cathay_Racers", target="_blank") @Cathay_Racers
            a.banner-link.facebook.hasicon(href="https://www.facebook.com/CathayRacers", target="_blank") fb.com/CathayRacers
            a.banner-link.instagram.hasicon(href="https://www.instagram.com/cathayracers", target="_blank") @CathayRacers
        footer
            .footer-logo
            p This entire website hand-made by Cathay Racers themselves
            p.
                #[a(href="http://www.latofonts.com/lato-free-fonts", target="_blank") Lato font by tyPoland],
                #[a(href="https://www.linotype.com/90672/avenir-next-family.html", target="_blank") Avenir Next font by Adrian Frutiger and Akira Kobayashi],
                #[a(href="http://masonry.desandro.com/", target="_blank") Masonry by desandro],
                #[a(href="https://github.com/twitter/twitter-text", target="_blank") Twitter Text Library by Twitter],
                #[a(href="https://github.com/cferdinandi/smooth-scroll", target="_blank") Smooth Scroll by cferdinandi],
                #[a(href="https://design.google.com/icons/", target="_blank") Material icons by Google].
            p.
                In the spirit of openness, the code is #[a(href="https://github.com/z-------------/cathay-racers-website/", target="_blank") all on GitHub].
        script(src="/assets/js/twitter-text.min.js")
        script(src="/assets/js/masonry.pkgd.min.js")
        script(src="script.js")
        script(src="/assets/js/smooth-scroll.min.js", async, onload="smoothScroll.init(smoothScrollOptions);")
