$color-main: #EA5504;
$color-body: #333333;

$font-sans: "Noto Sans", sans-serif;
$font-body: "Lato", $font-sans;
$font-heading: "Avenir Next", "Avenir", "League Spartan", $font-sans;

@keyframes footerLogoRotate {
    from { transform: rotate(0); }
    to { transform: rotate(1turn); }
}

@mixin forceFillWidth {
    width: calc(100% + 200px);
    max-width: none;
    margin-left: -100px;
}

*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    transition-duration: .3s;
    transition-property: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 100%;
}

::selection {
    background-color: $color-main;
    color: #ffffff;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: $font-body;
    font-size: 15px;
    color: $color-body;
    overflow-x: hidden;
    line-height: 1.5;
}

header {
    background-color: $color-main;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 500px;

    position: relative;
    z-index: 3;
}

.logo {
    width: 700px;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    color: $color-main;

    transition-property: color, background;

    &:hover {
        color: #fff;
        background-color: $color-main;
    }
}

section, footer, .quote {
    width: calc(100% - 70px);
}

section {
    position: relative;
    padding: 50px 100px;
    padding-bottom: 100px;

    &.wide {
        padding-left: 0;
        padding-right: 0;
    }

    &.no-top-padding {
        padding-top: 0;
    }

    &.no-bottom-padding {
        padding-bottom: 0;
    }

    &[data-bg] {
        color: #FFFFFF;
        background-color: #000000;

        > *:not(.section-bg-image) {
            position: relative;
            z-index: 1;
        }
    }
}

.section-bg-image {
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.background-host {
    position: relative;
    color: #FFFFFF;
    background-color: #000000;
    margin-top: -50px;
    padding: 50px 0;

    @include forceFillWidth;

    > *:not(.section-bg-image) {
        position: relative;
        z-index: 1;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

h2 {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
    line-height: 1.1;
}

p {
    margin: 1.2em auto;
    max-width: 700px;

    &.big {
        font-size: 1.3em;
        font-family: $font-heading;
        text-align: justify;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.colored-bg {
    background-color: $color-main;
    color: #FFFFFF;
    @include forceFillWidth;
}

.cursor-help {
    cursor: help;
}

ul, ol {
    margin-left: 2em;

    &.nobullet {
        margin-left: 0;
        list-style: none;
    }
}

aside {
    $aside-width: 70px;

    position: absolute;
    top: 500px;
    right: 0;
    background-color: #fff;
    width: $aside-width;
    height: 100%;
    z-index: 2;

    &.float {
        position: fixed;
        top: 0;
    }

    .nav-logo, nav {
        position: absolute;
        left: 0;

        transform: translateY(- $aside-width);
        transition-property: transform;
    }

    .nav-logo_container {
        display: inline-block;
        width: $aside-width;
        height: $aside-width;
    }

    .nav-logo {
        top: 0;
        pointer-events: none;
    }

    nav {
        top: $aside-width;
    }

    &.float .nav-logo, &.float nav {
        transform: translateY(0);
    }
}

nav a {
    display: block;
    position: relative;
    padding-right: 70px;
    background-size: 40px;
    height: 70px;
    user-select: none;

    box-shadow: inset 0 0 transparent;

    transition-property: box-shadow, background;

    &.current {
        box-shadow: inset 5px 0 $color-main;
        background-color: #F3F3F3;

        &:hover {
            box-shadow: inset 0 0 transparent;
        }
    }

    span {
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        padding: 1.8em 1.5em;
        line-height: 1;
        pointer-events: none;

        font-family: $font-heading;
        font-weight: 600;

        background-color: #FFFFFF;
        height: 100%;
        white-space: nowrap;

        max-width: none;

        transform: translateX(50px);
        opacity: 0;
        box-shadow: inset 0 0 transparent;

        transition-property: transform, opacity, box-shadow, background;
    }

    &:hover span {
        transform: translateX(0);
        opacity: 1;
    }

    &.current span {
        box-shadow: inset 5px 0 $color-main;
        background-color: #F3F3F3;
    }
}

input, textarea, button {
    display: block;
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
    color: #fff;

    transition-property: background, color;

    &:focus {
        background-color: #fff;
        color: #333;
        outline: none;
    }
}

textarea {
    resize: vertical;
    height: 200px;
}

input, textarea {
    width: 100%;
}

.banner-links-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: calc(100% - 70px);
}

section.wide .banner-links-container {
    width: 100%;
}

.banner-link {
    width: calc(50% - 10px);
    background-color: #ddd;
    color: #555;
    padding: 30px 50px;
    height: 91px;
    overflow: hidden;
    font-size: 2em;
    flex-shrink: 0;
    margin: 5px;
    position: relative;
    font-weight: 300;
    line-height: 1;

    transition-property: background, color;

    &.smaller {
        font-size: 1.7em;
        padding-top: 33px;
    }

    &[href] {
        &:after {
            content: "";
            background-image: url(/assets/img/ui/chev-right.svg);
            width: 50px;
            height: 50px;
            position: absolute;
            margin: 22px;
            right: 0;
            top: 0;

            transition-property: transform;
        }

        &:hover {
            background-color: $color-main;
            color: #fff;

            &:after {
                transform: translateX(10px);
            }
        }

        &.twitter:hover {
            background-color: #55acee;
        }

        &.facebook:hover {
            background-color: #3B5998;
        }

        &.email:hover {
            background-color: #ECB42E;
        }

        &.whatsapp:hover {
            background-color: #2AB200;
        }

        &.instagram:hover {
            background-color: #E4405F;
        }

        &.messenger:hover {
            background-color: #0084FF;
        }
    }

    &.hasicon {
        padding-left: 90px;

        &:before {
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            margin: 28px;
            left: 0;
            top: 0;
        }

        @each $medium in twitter, facebook, email, whatsapp, instagram, messenger {
            &.#{$medium} {
                &:before {
                    background-image: url(/assets/img/contact/#{$medium}-color.svg);
                }

                &[href]:hover:before {
                    background-image: url(/assets/img/contact/#{$medium}-white.svg);
                }
            }
        }
    }
}

.quote {
    padding: 1em 100px;

    font-family: $font-heading;
    background-color: $color-main;
    color: #FFFFFF;

    text-align: center;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.15;

    &:after {
        content: attr(data-quotee);

        display: block;
        margin-top: 0.5em;

        font-size: 0.7em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
    }
}

.flex-container {
    display: flex;
    align-items: flex-start;

    &.flex-container--space-around {
        justify-content: space-around;
    }

    > * {
        flex-shrink: 0;
        width: calc(50% - 25px);

        &:first-child {
            margin-right: 25px;
        }

        &:last-child {
            margin-left: 25px;
        }
    }

    &.flex-container--free-width {
        > * {
            width: auto;
        }
    }

    > img {
        padding: 50px;
        padding-top: 0;
    }
}

.flex-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &.medium {
        > * {
            width: 200px;
        }
    }
}

#car {
    background-color: $color-main;
    color: #ffffff;
}

.car {
    display: flex;
    align-items: center;
    justify-content: center;

    .car_left, .car_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 500px;
        height: 100%;

        .car_feature {
            margin: 10px 20px;

            h3 {
                font-size: 1.5em;
                color: $color-main;
                background-color: #ffffff;
                padding: 0.3em 0.5em;

                height: 46px;

                position: relative;

                &:after { /* triangle */
                    content: "";

                    position: absolute;
                    top: 0;

                    width: 0;
                    height: 0;
                    border-style: solid;
                }
            }

            h3, p {
                margin: 0.2em 0;
            }
        }
    }

    .car_left {
        text-align: right;

        h3:after { /* triangle */
            left: 0;
            border-width: 46px 0 0 46px;
            border-color: transparent transparent transparent $color-main;
        }

        p {
            padding-right: 0.75em;
        }
    }

    .car_right {
        h3:after { /* triangle */
            right: 0;
            border-width: 0 46px 46px 0;
            border-color: transparent $color-main transparent transparent;
        }

        p {
            padding-left: 0.75em;
        }
    }
}

.big-number-container {
    margin-top: 50px;
    padding-bottom: 25px;
}

.big-number {
    $fontsize: 7.5;

    text-align: center;
    font-family: $font-heading;
    font-size: #{$fontsize}em;

    margin-top: calc(1em / #{$fontsize});
    margin-bottom: calc(0.5em / #{$fontsize});
    padding-bottom: 0.2em;
    position: relative;

    font-weight: 700;
    color: $color-main;

    line-height: 1;

    &:after {
        content: attr(data-text);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        max-width: none;

        font-size: 0.2em;
        font-weight: 400;
        font-family: $font-body;
        color: $color-body;
        text-transform: uppercase;
    }
}

.sponsor-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 150px;
    }
}

.members-container {
    margin-top: 50px;
    text-align: center;

    li {
        display: inline-block;
        width: 400px;
        vertical-align: top;
        margin: 0 30px 30px 0;
        text-align: left;
    }
}

.member-name, .member-role {
    line-height: 1;
}

.member-name {
    font-size: 1.5em;
    font-weight: 600;
    margin: 25px 0 10px 0;
}

.member-role {
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.member-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;

    background-color: #e3241e;
}

.member-bio {
    margin-top: 20px;
    clear: both;
}

a.button {
    display: block;

    transition-property: background, color, box-shadow;

    &.big {
        background-color: #ffffff;
        box-shadow: 0 10px lighten($color-main, 20%);
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 25px;
        padding-top: 130px;
        font-size: 1.5em;
        display: block;
        margin-bottom: 25px;

        background-size: 85px;
        background-position: 50% 33px;
        background-image: url(/assets/img/ui/pdf.svg);

        &:hover {
            color: rgba(0, 0, 0, 0.8);
            box-shadow: 0 10px $color-main;
        }
    }
}

.news-container {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;

    li {
        background-color: #fff;
        display: block;
        width: 350px;
        margin: 5px 0;
        text-align: left;

        .post_meta {
            padding: 0 20px;
            padding-bottom: 10px;
            font-size: 0.8em;
            color: rgba($color-body, 0.5);

            a {
                color: rgba($color-main, 0.7);

                transition-property: color;

                &:hover {
                    color: $color-main;
                }
            }
        }
    }

    p {
        padding: 20px;
        padding-bottom: 10px;
        margin: 0;
    }

    img {
        display: block;
    }
}

footer {
    font-size: 0.7em;
    color: rgba(0, 0, 0, .5);
    text-align: center;

    padding: 50px 0;
}

.footer-logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;

    background-size: contain;
    background-image: url(/assets/img/logo/logo-icon-noshell.svg);

    animation: footerLogoRotate 0.5s infinite linear;
    animation-play-state: paused;

    &:hover {
        animation-play-state: running;
    }
}

.initialism-container {
    background-color: $color-main;
    color: #fff;
    font-size: 4em;
    font-weight: 300;
    padding: 100px;
    margin-top: 50px;
    line-height: 1;

    @include forceFillWidth;

    div {
        display: flex;
        align-items: center;

        > div {
            font-weight: 700;
            vertical-align: middle;
        }
    }
}

.initialism-letter {
    font-family: "Titillium Web", sans-serif;
    font-size: 5em;
    margin-right: 30px;
}

.initialism-word {
    overflow: hidden;
    height: 2em;
    position: relative;
    flex-grow: 1;
    margin-left: 16px;

    div {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 0.5em;
        opacity: 0;
        pointer-events: none;

        transition-property: opacity, transform;
        transition-duration: 1s;

        &.current {
            opacity: 1;
            pointer-events: auto;
        }

        &.prev {
            transform: translateY(50px);
        }
    }
}

.carousel {
    .carousel_item {
        width: 100%;
        height: 700px;

        background-size: cover;
        background-position: center;
    }
}

.comic-sans {
    font-family: "Comic Sans MS", sans-serif;
    color: $color-main;
}

@media only screen and (max-width: 720px) {
    section, footer, .quote {
        width: 100%;
    }

    section {
        padding: 30px 20px;
    }

    footer {
        $padding: 20px;
        padding-left: $padding;
        padding-right: $padding;
    }

    .quote {
        $padding: 20px;
        padding-left: $padding;
        padding-right: $padding;
    }

    .flex-container {
        display: block;

        > * {
            width: 100%;

            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-left: 0;
            }
        }

        > img {
            padding-top: 25px;
        }
    }

    .flex-grid {
        flex-direction: column;

        > * {
            margin: 1em 0;
        }
    }

    .big-number {
        width: 100% !important;
        line-height: 0.9;

        text-align: left;
        margin: 0;
        padding: 0;

        display: inline-block;
        vertical-align: middle;

        &:after {
            position: static;
            display: inline-block;
            margin: 0;
            margin-left: 0.5em;
            margin-bottom: 0.7em;
            transform: none;
            vertical-align: middle;
        }
    }

    aside {
        left: 0;
        top: 0;
        width: 100%;
        height: 70px;

        overflow-x: scroll;
        overflow-y: hidden;

        display: none;

        &.float {
            display: block;
        }

        nav {
            top: 0;
        }

        nav a {
            display: inline-block;
            width: 70px;

            &:hover {
                box-shadow: inset 0 -5px rgba(0, 0, 0, .2)
            }

            &.current, &.current:hover {
                box-shadow: inset 0 -5px $color-main;
            }

            span {
                display: none;
            }
        }

        .nav-logo {
            display: none;
        }
    }

    .banner-links-container {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .banner-link, .banner-link.smaller {
        width: 100%;
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5em;
        padding-top: 32px;
        padding-bottom: 27px;

        &[href]:after {
            margin-right: 5px;
        }

        &.collapsible {
            width: calc(50% - 5px);
            color: transparent;
            user-select: none;

            &:nth-last-of-type(2n+1) {
                margin-left: 10px;
            }

            &:hover {
                color: transparent;
            }

            &:before {
                left: 50%;
                margin-left: -35px;
            }
        }
    }

    .initialism-container {
        display: none;
    }

    .logo {
        width: calc(100% - 50px)
    }

    header {
        height: 250px;
    }

    nav {
        white-space: nowrap;
    }

    .members-container li {
        margin-left: 0;
        margin-right: 0;
    }

    .carousel {
        .carousel_item {
            height: 300px;
        }
    }

    .car {
        flex-direction: column;

        .car_middle {
            padding: 20px;
        }
    }
}
